.input {
	outline: 0;
	border: solid 1px #aaa;
	padding: 10px 15px;
	min-width: 300px;
	font-family: "Poppins Light";
	font-size: 16px;
	background: transparent;
}

.btn {
	outline: 0;
	border: 0;
	margin-top: 25px;
	padding: 10px 15px;
	color: white;
	font-family: "Poppins Light";
	font-size: 16px;
}
